<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bins.springcloud.shop.user.mapper.RoleMapper">
    
    <resultMap id="BaseResultMap" type="com.bins.springcloud.shop.user.entity.RoleEntity" >
   		<id column="id" property="id" jdbcType="BIGINT"/>
           <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
           <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
           <result column="sort" property="sort" jdbcType="INTEGER"/>
           <result column="is_del" property="isDel" jdbcType="INTEGER"/>
           <result column="create_by" property="createBy" jdbcType="BIGINT"/>
           <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
           <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
           <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>    
    </resultMap>
    
    <select id="findRoleList" resultMap="BaseResultMap" parameterType="com.bins.springcloud.shop.user.dto.RolePageDto">
        select * from t_role where is_del = 0 
        <if test="roleCode != null and roleCode != ''">
          and role_code like concat('%',#{roleCode},'%')
    	</if >
	    <if test="roleName != null and roleName !=''">
	      and role_name like concat('%',#{roleName},'%')
	    </if >
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="Long">
        select * from t_role where id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.bins.springcloud.shop.user.dto.RoleDto">
    	INSERT INTO `t_role` (role_code, role_name, sort, create_by, update_by) 
    	VALUES (#{roleCode}, #{roleName}, #{sort}, #{createBy}, #{updateBy})
    </insert>
    
    <update id="updateById" parameterType="com.bins.springcloud.shop.user.dto.RoleDto">
    	update `t_role` set role_code = #{roleCode}, role_name = #{roleName},
    	sort = #{sort}, update_by = #{updateBy} where id = #{id}
    </update>
    
    <update id="deleteById" parameterType="com.bins.springcloud.shop.user.dto.RoleDto">
    	update `t_role` set is_del = 1 where id = #{id}
    </update>
    
   <insert id="insertRolePermission" parameterType="map">
        INSERT INTO `t_role_permission` (role_id, permission_id) VALUES
            (#{roleId}, #{permissionId})
    </insert>

</mapper>