<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bins.springcloud.shop.user.mapper.UserGroupMapper">
    
    <resultMap id="BaseResultMap" type="com.bins.springcloud.shop.user.entity.UserGroupEntity" >
   		<id column="id" property="id" jdbcType="BIGINT"/>
   		<result column="group_code" property="groupCode" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="is_del" property="isDel" jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="findList" resultMap="BaseResultMap" parameterType="com.bins.springcloud.shop.user.dto.UserGroupPageDto">
        select * from t_user_group where is_del = 0
        <if test="groupCode != null and groupCode != ''">
          and group_code like concat('%',#{groupCode},'%')
    	</if>
	    <if test="groupName != null and groupName !=''">
	      and group_name like concat('%',#{groupName},'%')
	    </if>
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="Long">
        select * from t_user_group where id = #{id}
    </select>
    
    <select id="findByIds" parameterType="Long" resultMap="BaseResultMap">
        select * from t_user_group where is_del = 0 and id in
	      <foreach collection="list" separator="," open="(" close=")" item="id">
	       #{id}
	      </foreach>
    </select>
    
    <insert id="insert" parameterType="com.bins.springcloud.shop.user.dto.UserGroupDto" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO `t_user_group` (group_name, group_code, sort, create_by, update_by) VALUES 
    	(#{groupName}, #{groupCode}, #{sort}, #{createBy}, #{updateBy})
    </insert>
    
    <update id="updateById" parameterType="com.bins.springcloud.shop.user.dto.UserGroupDto">
    	update `t_user_group` set group_name = #{groupName}, group_code = #{groupCode},
    	sort =  #{sort} where id = #{id}
    </update>
    
    <update id="deleteById" parameterType="com.bins.springcloud.shop.user.dto.UserGroupDto">
    	update `t_user_group` set is_del = 1 where id = #{id}
    </update>
    
    <select id="findSelectList" resultMap="BaseResultMap">
        select * from t_user_group where is_del = 0
    </select>
    
    <select id="getUserGroupByIds" parameterType="Long" resultMap="BaseResultMap">
        select * from t_user_group where is_del = 0 and id in
	      <foreach collection="list" separator="," open="(" close=")" item="id">
	       #{id}
	      </foreach>
    </select>

</mapper>