<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bins.springcloud.shop.user.mapper.UserExtensionMapper">
    
    <resultMap id="BaseResultMap" type="com.bins.springcloud.shop.user.entity.UserExtensionEntity" >
   		<id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="address" property="address" jdbcType="LONGVARCHAR"/>
    </resultMap>
    
    <select id="findByUserId" parameterType="Long" resultMap="BaseResultMap">
        select * from t_user_extension where user_id = #{id}
    </select>
    
    <update id="updateByUserId" parameterType="com.bins.springcloud.shop.user.dto.UserDto">
    	update `t_user_extension` set address = #{address} where user_id = #{id}
    </update>
    
    <insert id="insertUserExtension" parameterType="com.bins.springcloud.shop.user.dto.UserDto">
    	INSERT INTO `t_user_extension` (user_id, address) VALUES 
    	(#{id}, #{address})
    </insert>

</mapper>