<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bins.springcloud.shop.user.mapper.UserMapper">
    
    <resultMap id="BaseResultMap" type="com.bins.springcloud.shop.user.entity.UserEntity" >
   		<id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="dept_id" property="deptId" jdbcType="BIGINT"/>
        <result column="user_group_id" property="userGroupId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_del" property="isDel" jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    
    <select id="findByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_user where user_code = #{userCode}
    </select>
    
    <select id="findByUserInfo" parameterType="com.bins.springcloud.shop.user.dto.UserDto" resultMap="BaseResultMap">
        select * from t_user where user_code = #{userCode} and user_name = #{userName}
    </select>
    
    <insert id="insert" parameterType="com.bins.springcloud.shop.user.dto.UserDto">
    	INSERT INTO `t_user` (user_code, user_name, password, phone, email, dept_id, user_group_id, status, create_by, update_by) VALUES 
    	(#{userCode}, #{userName}, #{password}, #{phone}, #{email}, #{deptId}, #{userGroupId}, #{status}, #{createBy}, #{updateBy})
    </insert>
    
    <select id="getAllUserList" resultMap="BaseResultMap">
        select * from t_user where is_del = 0
    </select>
    
    <select id="getUserList" resultMap="BaseResultMap" parameterType="com.bins.springcloud.shop.user.dto.UserPageDto">
        select * from t_user where is_del = 0
        <if test="userCode != null and userCode != ''">
          and user_code like concat('%',#{userCode},'%')
    	</if >
	    <if test="userName != null and userName !=''">
	      and user_name like concat('%',#{userName},'%')
	    </if >
    </select>
    
    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select * from t_user where id = #{id}
    </select>
    
    <select id="findByIds" resultMap="BaseResultMap" parameterType="Long">
        select * from t_user where id in
	      <foreach collection="list" separator="," open="(" close=")" item="id">
	       #{id}
	      </foreach>
    </select>
    
    <select id="findByUserName" parameterType="String" resultMap="BaseResultMap">
        select * from t_user where status = 1 and is_del = 0 and user_name = #{userName}
    </select>
    
    <update id="changePersonInfo" parameterType="com.bins.springcloud.shop.user.dto.UserDto">
    	update `t_user` set user_name = #{userName}, phone = #{phone}, email = #{email} where id = #{id}
    </update>
    
    <update id="changeUserStatus" parameterType="com.bins.springcloud.shop.user.entity.UserEntity">
    	update `t_user` set status = #{status} where id = #{id}
    </update>
    
    <update id="changeUserPassword" parameterType="com.bins.springcloud.shop.user.entity.UserEntity">
    	update `t_user` set password = #{password} where id = #{id}
    </update>
    
    <update id="updateById" parameterType="com.bins.springcloud.shop.user.dto.UserDto">
    	update `t_user` set user_code = #{userCode}, user_name = #{userName},
    	phone = #{phone}, email = #{email},
    	dept_id = #{deptId}, user_group_id = #{userGroupId} where id = #{id}
    </update>
    
    <update id="deleteById" parameterType="com.bins.springcloud.shop.user.dto.UserDto">
    	update `t_user` set is_del = 1, status = #{status} where id = #{id}
    </update>

</mapper>