<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bins.springcloud.shop.order.mapper.OrderGoodsMapper">
    
    <resultMap id="BaseResultMap" type="com.bins.springcloud.shop.order.entity.OrderGoodsEntity" >
   		<id column="id" property="id" jdbcType="BIGINT"/>
   		<result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_price" property="goodsPrice" jdbcType="INTEGER" />
        <result column="goods_number" property="goodsNumber" jdbcType="INTEGER"/>
        <result column="goods_amount" property="goodsAmount" jdbcType="INTEGER"/>
        <result column="coupon_amount" property="couponAmount" jdbcType="INTEGER"/>
        <result column="discount_amount" property="discountAmount" jdbcType="INTEGER"/>
        <result column="shopping_amount" property="shoppingAmount" jdbcType="INTEGER"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="findListByOrderId" resultMap="BaseResultMap" parameterType="Long">
        select * from t_order_goods where is_del = 0 and order_id = #{orderId}
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="Long">
        select * from t_order_goods where is_del = 0 and id = #{id}
    </select>
    
    <insert id="insertOrderGoods" parameterType="com.bins.springcloud.shop.order.dto.OrderGoodsDto">
    	INSERT INTO `t_order_goods` (order_id, order_code, goods_id, goods_code, goods_name, pic_url, goods_price, goods_number, goods_amount, coupon_amount, discount_amount, shopping_amount, status, is_del, create_by) VALUES 
    	(#{orderId}, #{orderCode}, #{goodsId}, #{goodsCode}, #{goodsName}, #{picUrl}, #{goodsPrice}, #{goodsNumber}, #{goodsAmount}, #{couponAmount}, #{discountAmount}, #{shoppingAmount}, #{status}, #{isDel}, #{createBy})
    </insert>
    
    <update id="updateStatusbyOrderId" parameterType="com.bins.springcloud.shop.order.dto.OrderGoodsDto">
    	update `t_order_goods` set status = #{status} where order_id = #{orderId}
    </update>
    
    <select id="getOrderGoodsByIds" parameterType="Long" resultMap="BaseResultMap">
        select * from t_order_goods where is_del = 0 and id in
	      <foreach collection="list" separator="," open="(" close=")" item="id">
	       #{id}
	      </foreach>
    </select>
    
    <update id="deleteByOrderId" parameterType="com.bins.springcloud.shop.order.dto.OrderGoodsDto">
    	update `t_order_goods` set is_del = 1 where order_id = #{orderId}
    </update>

</mapper>